/*  _variables.scss      // for colors, fonts, sizes */
// Color Palette
$bg-dark: #011627;
$bg-light: #2ec4b6;
$text-white: #ffffff;
$text-muted: #bbbbbb;

$primary: #007bff;
$success: #8cd790;
$danger: #e71d36;
$warning: #ffc107;
$gray: #6c757d;

// Spacing
$spacing-sm: 15px;
$spacing-md: 25px;
$spacing-lg: 42px;

// Border
$radius-sm: 4px;
$radius-md: 8px;

// Fonts
$font-main: "Segoe UI", sans-serif;
$font-size-base: 16px;
$font-size-lg: 24px;
$font-size-xl: 48px;
$font-size-xxl: 80px;

// Animation

$animation-slow: all 0.8s linear;
$animation-mid: all 0.5s linear;
$animation-fast: all 0.3s linear;
